ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    margin: 10px;
    border: 5px inset #8f8f8f;
    padding: 3px;
}
body{
    width: 1000px;
}
.title{
    clear: left;
    text-align: center;
}
.image{
    float: left;
    margin: 10px;
}
.side{
    margin: 10px;
    position: fixed;
}
.col1{
    float: left;
    width: 400px;
    margin-left: auto;
    border-style: groove;
    padding: 10px;
}
.col2{
    float: right;
    width: 400px;
    margin-right: auto;
    border-style: groove;
    padding: 10px;
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}